<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body ng-app="mywalletApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MainCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Wallet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-init = "selectTab('section',1)">
          <ul class="nav navbar-nav">
            <li ng-class="{ active : selectedTab('section',1) }"> <a href="/" ng-click="selectTab('section',1)">Home</a> </li>
            <li ng-class="{ active : selectedTab('section',2) }"><a href="wallets/" ng-click="selectTab('section',2)">Wallets</a></li>
            <li ng-class="{ active : selectedTab('section',3) }"><a href="wallet/" ng-click="selectTab('section',3)">Wallet</a></li>
            <li><a href="#" ng-click="Reset()">Reset</a></li>
            <li><a href="http://github.com/jromerog/mywallet" target="_blank">View source</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>

      <!-- <div ng-include="'views/main.html'"></div> -->
      <div ng-view="">
        <div class="container">

        </div>
      </div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> Front-end Developer Test</p>
      </div>
    </div>



    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="scripts/controllers/main.js"></script> 
        <script src="scripts/controllers/wallets.js"></script>
        <script src="scripts/controllers/form.js"></script>
       
        <!-- endbuild -->
</body>
</html>
